html {
    color: white;
    font-family: "Madimi One";
}

body {
    background-color: rgb(80, 80, 80);
    min-width: 390px;
}

.navbar-header {
    color: rgb(157, 156, 156);
}

.navbar-nav {
    padding-left: 55%;
}

.nav-link {
    color: lightgrey;
    font-size: 25px;
    align-self: flex-end;
}

.form {
    padding-top: 20px;
    margin: auto;
    display: flex;
    font-size: 25px;
    margin: auto;
}

input[type="text"] {
    font-family: "Madimi One";
}

.keyword-bar {
    padding: 10px 0 10px 5px;
    margin: 0 0 0 10px;
    width: 70%;
    border-radius: 10px;
    font-size: 1.5rem;
}


.number-bar {
    padding: 10px 0;
    width: 10%;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.submit-button {
    margin: 0 10px 0 0;
    padding: 10px 0;
    width: 20%;
    border-radius: 10px;
    border: 1px white solid;
    background-color: lightgrey;
    color: black;
    font-size: 1.5rem;
    font-family: "Madimi One";
}

.submit-button:hover {
    background-color: rgb(157, 156, 156);
    border: 1px blue solid;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-item{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    background-color: black;
    margin: 10px;
    padding: 10px;
    width: 350px;
    justify-content: center;
}

.category-item > img {
    width: 95%;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
    color: rgb(196, 196, 196);
}

.about > h3 {
    color: rgb(162, 162, 162);
}

.about-paragraph {
    width: 500px;
}